[Desktop Entry]
Name=Marca
Comment=S
Type=Application
Exec=marca
Terminal=false
# WebBrowser for opening links for saving
Categories=Utility;WebBrowser;
Keywords=Bookmarks;Links;
Icon=io.github.simoonas.marca
StartupNotify=true
